.Nuukgl {
    order: 1;
}

.Urubicibr {
    order: 2;
}

.Nairobike {
    order: 3
}

@media only screen and (max-width: 800px) {
    .Card {
        margin: 30px 0;
    }
    .Nuukgl {
        order: 2;
    }

    .Urubicibr {
        order: 1;
    }

    .Nairobike {
        order: 3
    }
}